/* Variables */
:root{
    --white: #EEEEEE;
    --golden: #FFD369;
    --light-grey: #393E46;
    --dark-grey: #222831;

    --body-font: 1rem;
}

/*Generics*/
*, *::before,*::after{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    font-family: 'Lora', serif, 'Tangerine', cursive;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--white);
}

h1{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    font-weight: 400;
    order: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 400;
}
a,p{
    padding-top: 1rem;
    color: var(--dark-grey);
    font-size: 1.2rem;
}

a{
    font-weight: 500;
}

/*Buttons*/
.button{
    font-family: inherit;
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0;
    overflow: visible;
    text-transform: none;


    display: block;
    border-style: none;
    border: 1px solid;
    padding: 12px 2.4rem;
    background-color: inherit;
    transition: color .5s, background-color .5s;

    color: inherit;
    text-transform: uppercase;
    letter-spacing: 5px;

    -webkit-appearance: button;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--light-grey);
    transition: color .5s, background-color .5s;
}

@media (min-width: 600px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 1.75;
    }
    a,p{
        font-size: 1.3rem;
    }
}
@media (min-width: 1000px){
    
    .button{
        margin-top: 3.5rem;
        padding: 7px 2.4rem;
    }
}

/* Header */
.navbar {
    background-color: #fff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-animation: move-down 1s;
            animation: move-down 1s;
}

.navbar .wrapper{
    width: 90%;
    height: 25px; 
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    display: block;
    width: 150px;
}

@media (min-width: 600px){
    .navbar .logo{
        width: 192px;
    }
}

.navbar .hamburger-icon{
    cursor: pointer;
}

@media (min-width: 600px){
    .navbar .hamburger-icon{
        display: none;
    }
}



.header-menu{
    list-style-type: none;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    row-gap: 1.45rem;
}

@media (min-width: 600px){
    .navbar nav{
        display: block;
    }

    .header-menu{
        flex-direction: row;
        -moz-column-gap: 2rem;
            column-gap: 2rem;
    }
}

.header-menu a{
    color: var(--dark-grey);
    font-size: var(--body-font);
    text-decoration: none;
    opacity: .9;

    position: relative;
}

@media (min-width: 600px){
    .header-menu a::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width .3s, left .3s;
        
        position: absolute;
        left: 50%;
        bottom: -8px;
    }

    .header-menu a:hover::after{
        width: 100%;
        left: 0;
    }
}

@media (max-width: 599px){
    
    .header-menu{
 
        width: 90%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-menu a{
        color: var(--white);
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    .js-navbar__nav{
        display: block;
        width: 100%;
        height: 100vh;
        margin-top: 4.5625rem;
        background-color: var(--light-grey);

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .js-fixed-menu{
        position: fixed;
        z-index: 20;
        right: 7.5%;
    }

    .navbar nav{
        display: none;
    }
}

.js-move-right {
    -webkit-animation: move-right .8s ease-in-out;
            animation: move-right .8s ease-in-out;
}

/*hero*/
.hero{
    background-image: url('../img/background-images/home-background.jpg');
    background-size: cover;
    background-position: center ;
    padding: 3rem;

    display: grid;
    align-items: start;
}

.hero .title-wrapper {
    width: 90%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
}

.hero .title {
    font-family: 'Lora', serif;
    max-width: 652px;
    padding: 20px;
    border: 3px solid;
    border-color: var(--golden);
    margin-top: 0;
    margin-bottom: 0;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    font-size: 2.5rem;
    color: var(--golden);
    line-height: 1;
    text-align: center;
}

@media (min-width: 600px){
    .hero{
        
        margin: 0;
        padding-top: 4.5rem;
    }
    .hero .title-wrapper {
        width: 90%;
    }
    
    .hero .title{
        padding: 40px;
        text-align: left;
        font-size: 3.5rem;
    }
}

/*who-we-are*/
.who-we-are{
    width: 80%;
    display: grid;
    align-items: start;
    padding-top: 4.25rem;
    padding-bottom: 3.25rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.who-we-are .wrapper{
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--golden);
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.who-we-are .wrapper h1{
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}

.who-we-are .wrapper h2{
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

@media (min-width: 600px){
    .who-we-are{
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
    .who-we-are .wrapper{
        padding: 3rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .who-we-are .wrapper h1{
        font-size: 4rem;
    }

    .who-we-are .wrapper h2{
        font-size: 1.75rem;
    }
}

/*Completed Projects*/
.projects{
    background-color: var(--light-grey);
    color: var(--white);
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}

.projects .wrapper{
    width: 86%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.projects .wrapper h1{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    order: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projects .wrapper button{
    order: 8;
}

.projects .wrapper button:hover{
    color: var(--light-grey);
    background-color: var(--white);
}

@media (min-width: 600px){
    .projects .wrapper{
        grid-template-columns:  1fr;
    }

    .projects .wrapper h1{
        justify-self: start;
        font-size: 4rem;
    }

    .projects .wrapper .project-items{
        grid-row: 2;
        
        -moz-column-gap: 1.6rem;
        column-gap: 1.6rem;
    }
}

@media (min-width: 720px){
    .projects .wrapper{
        grid-template-columns: repeat(3,1fr);
    }
    
    .projects .wrapper button{
        grid-column: 3 / 3;
        grid-row: 1;
        margin-right: 0;
    }

    .projects .wrapper .project-items{
        grid-template-columns: repeat(3, 1fr);
        order: 6;
        grid-column: 1/-1;
    }
}

@media (min-width: 1100px){
    .projects .wrapper .project-items{
        -moz-column-gap: 2rem;
             column-gap: 2rem;
    }
}

.projects .wrapper .project-items{
    display: grid;
    row-gap: 1.6rem;
    order: 4;
}
.projects .wrapper .project-items .item{
    margin-bottom: 2rem;
}

.projects .wrapper .project-items .item .item-img{
    z-index: 8;
    object-fit: contain;

}
.projects .wrapper .project-items .item .item-img img{
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
}
.projects .wrapper .project-items .item .item-content{
    background-color: var(--white);
    color: var(--light-grey);
    text-align: center;
    padding: 1rem;
    width: 94%;
    margin-left: 3%;
    margin-top: -8%;
    border-radius: 2px;
    border-bottom: 3px solid;
    border-color: var(--golden);
    position: relative;
    z-index: 1;
}

.projects .wrapper .project-items .item .item-content h2{

    font-weight: 400;
    padding-top: 0.5rem;
}

.projects .wrapper .project-items .item .item-content p{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.projects .wrapper .project-items .item .item-content a{
    padding-top: 1rem;
    color: var(--dark-grey);
    font-weight: 500;
    padding-bottom: 0.5rem;
    right: 0%;
}

@media (min-width: 600px){
    .projects .wrapper .project-items .item .item-content{
        text-align: left;
    }
}

/*current projects*/
.curr-projects{
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    
}

.curr-projects .wrapper{
    width: 86%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.curr-projects .wrapper h1{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    order: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.curr-projects .wrapper button{
    order: 8;
}

.curr-projects .slide{
    order: 2;
    
}

@media (min-width: 600px){
    .curr-projects .wrapper{
        grid-template-columns:  1fr;
    }

    .curr-projects .wrapper h1{
        justify-self: start;
        font-size: 4rem;
    }

    .curr-projects .slide{
        order: 3;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media (min-width: 720px){
    .curr-projects .wrapper button{
        grid-column: 3 / 3;
        grid-row: 1;
        margin-right: 0;
    }

    
}

.curr-projects .wrapper .item{
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;

}
.curr-projects .wrapper .item img{
    right: 0;
    width: 100%;
    object-fit: contain;
}

.curr-projects .wrapper .content{
    width: 80%;
}
.curr-projects .wrapper .content h2{

    font-weight: 400;
    padding-top: 0.5rem;
}

.curr-projects .wrapper .content p{
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
}

.curr-projects .wrapper .content a{
    padding-top: 1rem;
    color: var(--dark-grey);
    font-weight: 500;
    padding-bottom: 0.5rem;
    right: 0%;
}
@media (min-width: 600px){
    .curr-projects .wrapper .content{
        text-align: center;
    }
}
.slide .slide__main{
    align-items: center;
    height: 100%;
}

.slide .slide__button{
    border: none;
    cursor: pointer;
    
    background: none;
    padding: 0.5rem;
    transition: background-color 150ms ease-in-out;
   
}

.slide .slide__arrow{
    width: 2rem;
    height: 2rem;
    color: var(--dark-grey);
}

.slide .prev{
    left: 0;
}
.slide .next{
    right: 0;
}

.slide .slide__item{
    display: none;
}

.slide .slide__dot{
    text-align:center;
}

.slide .slide__dot span{
    cursor: pointer;
    height: 0.25rem;
    width: 2rem;
    margin-top: 1.5rem;
    background-color: var(--light-grey);
    
    display: inline-block;
    transition: background-color 150ms ease-in-out;
}

.slide .slide__dot span:not(:last-child){
    margin-right: 1.5rem;
}

.slide .active{
    background-color: var(--golden);
}

.slide .slide__dot span:hover,
.slide .slide__dot span:focus{
    background-color: var(--golden);
}

/*Featured Work*/
.featured{
    background-color: var(--light-grey);
    color: var(--white);
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    text-align: center;
}

.featured .wrapper{
    width: 86%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.featured h1{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    order: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 600px){
    .featured .wrapper{
        grid-template-columns: repeat(3,1fr);
    }
    .featured h1{
        justify-self: start;
        font-size: 4rem;
    }
    
    
}

@media (min-width: 1100px){
    .featured .wrapper .item{
        -moz-column-gap: 2rem;
             column-gap: 2rem;
    }
}

.featured .wrapper .item{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.9375rem;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
}

.featured .wrapper .item img{
    border-radius: 2px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.featured .wrapper .item img:hover,
.featured .wrapper .item img:focus{
    transform: scale(1.05);
    box-shadow: 0px 3px 12px rgba(255, 255, 255, 0.15);
    transition: all 150ms ease-in-out;
}

.featured .wrapper .item:nth-child(1){
    width: 100%;
    object-fit: cover;
    max-height: 35rem;
}

/*Contact Us*/
.contact{
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}

.contact .wrapper{
    width: 86%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.contact .wrapper h1{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    order: 1;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0.5rem;
    
    border-bottom: 2px solid;
    border-color: var(--golden);
}

.contact .wrapper .content{
    order: 2;
    justify-content: center;
    
    text-align: center;
}

.contact .wrapper .content p{
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
}

.contact .wrapper .content a{
    padding-top: 1rem;
    color: var(--dark-grey);
    font-weight: 500;
    padding-bottom: 0.5rem;
    right: 0%;
}

@media (min-width: 600px){
    .contact .wrapper h1{
        justify-self: start;
        font-size: 4rem;
        padding-top: 15%;
        padding-bottom: 15%;
        padding-right: 15%;
        border-bottom: 0;
        border-right: 2px solid;
        border-color: var(--golden);
    }
    .contact .wrapper .content{
        padding-top: 5%;
        padding-left: 3%;
        text-align: left;
        
    }

    .contact .wrapper{
        grid-template-columns: 35% 65%;
        
    }
}
